@font-face {
    font-family: "BarlowSemiCondensed";
    font-weight: 500;
    src: url(../../fonts/BarlowSemiCondensed-Medium.ttf);
}

@font-face {
    font-family: "BarlowSemiCondensed";
    font-weight: 600;
    src: url(../../fonts/BarlowSemiCondensed-SemiBold.ttf);
}