:root {
    // fonts
    --MainFontFamily: "BarlowSemiCondensed", sans-serif;

    // colors
    --White: hsl(0, 0%, 100%);
    --Grey100: hsl(214, 17%, 92%);
    --Grey200: hsl(0, 0%, 81%);
    --Grey400: hsl(224, 10%, 45%);
    --Grey500: hsl(217, 19%, 35%);
    --DarkBlue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);

    --Purple50: hsl(260, 100%, 95%);
    --Purple300: hsl(264, 82%, 80%);
    --Purple500: hsl(263, 55%, 52%);
}