.testimonials__testimonial_theme_white {
    --NameColor: var(--Grey500);
    --GraduateStatusColor: var(--Grey400);
    --TitleColor: var(--Grey500);
    --ContentColor: var(--Grey400);
    --PhotoBorderColor: var(--White);

    background-color: var(--White);
}