.testimonials__testimonial_theme_grey {
    --NameColor: var(--Grey100);
    --GraduateStatusColor: var(--Grey200);
    --TitleColor: var(--White);
    --ContentColor: var(--Grey100);
    --PhotoBorderColor: var(--Black);

    background-color: var(--Grey500);
}