.testimonials__testimonial_theme_dark-blue {
    --NameColor: var(--White);
    --GraduateStatusColor: var(--White);
    --TitleColor: var(--Grey200);
    --ContentColor: var(--Grey100);
    --PhotoBorderColor: var(--Purple500);

    background-color: var(--DarkBlue);
}