.testimonials__testimonial_theme_purple {
    --NameColor: var(--Purple50);
    --GraduateStatusColor: var(--Purple50);
    --TitleColor: var(--Purple50);
    --ContentColor: var(--Purple50);
    --PhotoBorderColor: var(--Purple300);

    background-color: var(--Purple500);
}