.testimonial__content {
    margin-left: 0.125rem;
    margin-top: 1rem;

    font-family: var(--MainFontFamily);
    font-size: 0.8125rem;
    font-weight: 500;

    line-height: 1.125rem;

    color: var(--ContentColor);
}