.testimonial__graduate-status {
    grid-area: 2 / 2 / 3 / 3;

    font-family: var(--MainFontFamily);
    font-size: 0.6875rem;
    font-weight: 500;

    color: var(--GraduateStatusColor);

    margin-bottom: 0.0625rem;
}